*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #252525;
    color: #fff;
}

.primary-bg-color{
    background-color: #252525;
}

.secondary-bg-color{
    background-color: #c09578;
}

.light-bg-color{
    background-color: #fcf5eb;
}

.dark-bg-color{
    background-color: #101010;
}

.primary-color{
    color: #c09578;
}

.secondary-color{
    color: #626262;
}
.light-color{
    color: #fcf5eb;
}


/*estilo navbar  navbar */
#navbar .navbar-nav{
    flex-direction: row;
    justify-content: end;
}

#navbar .navbar-nav li{
    margin-left: 1em;
}

#navbar a, #navbar button{
    color: #fff;
}

#navbar li{
    position: relative;
}

#navbar i{
    font-size: 20px;
}

#navbar span{
  position: absolute;
  top: -8px;
  right: -8px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ef3636;
  text-align: center;
}

#bag-item span{
    left: 20px;
}

.navbar-brand{
    font-weight: 700;
    width: 100%;
    text-align: center;
}

@media(min-width: 768px){
    .navbar-brand{
        text-align: left;
    }
}

#navbar-items{
    justify-content: space-between;
} 

@media(min-width: 768px){
    .navbar-items{
        min-width: 80%;
        display: flex;
    }
}

#search-form{
    width: 100%;
    margin: 2em 0;
}

@media(min-width: 768px){
    #search-form{
        width: 50%;
        margin: 0;
    }
}

#search-form{
    border: 2px solid #626262;
    border-radius: 3px;
    padding: 5px 15px;
}

#search-form input{
    background-color: transparent;
    border: none;
    color: #fff;
}

#search-form input:focus{
    box-shadow: none;
}

#search-form input::placeholder{
    color: #fff;
}

/* bottom navbar */
#bottom-navbar-container .container{
    justify-content: flex-end;
}

#bottom-navbar-container a{
    font-weight: 600;
    color: white;
}

.navbar-toggler{
    font-size: 1.5em;
}

/* banners */

#banners-container{
    padding: 0;
}

.carousel-caption{
    bottom: 5em;
    padding: 1em;
    left: 12%;
    right: 12%;
     
}

.carousel-caption h5{
    font-size: 1.8em;
}

@media(min-width: 768px){
    #slider .container-item,
    #slider img{
        height: 600px;
    }

    .carousel-caption{
        left: 23%;
        right: 23%;
    }

    .carousel-caption h5{
        font-size: 4em;
    }
}

#mini-banners{
    margin-top: -3em;
    z-index: 10;
}

#mini-banners .col-12{
    z-index: 1;
    height: 300px;
    padding: 1.5em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (min-width: 768px) {
    #mini-banners .col-12{
        max-width: 30%;
    }
    
}

#mini-banners .col-12 h2{
    text-transform: uppercase;
    max-width: 50px;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 1em;
}

#mini-banners .col-12 img{
    height: 220px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#mini-banners .col-12 a{
    font-weight: bold;
    color: #fff;
    font-size: 0.8em;
    transition: 0.5s;

}

#mini-banners .col-12 a:hover{
   color: #101010;

}
#mini-banners #mini-banners-1  a:hover{
    color: #c09578;
 
 }
 

 #mini-banners #mini-banners-3 a{
    color: #101010;
 
 }

 #mini-banners #mini-banners-3 a:hover{
    color: #c09578;
 
 }
 
 

 /* best selers */
 #best-sellers{
     padding: 4em 0;
 }

 #best-sellers .row{
    margin: 0;
}


#best-sellers .col-md-3{
    padding: 0;
}

.title{
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 1em;
    text-align: center;
}

@media(min-width: 768px){
    .title{
        text-align: left;
    }
}

.card{
    text-align: center;
    border-radius: 0;

}

.card img{
    width: 140px;
}

.card .category{
    font-size: 0.8em;
}

.card .card-text{
    background-color: transparent;
    border-color: #c09578;

}

.btn{
    background-color: transparent;
    border-color: #c09578;
}


.btn:hover{
    background-color:  #c09578;
    border-color: #c09578;
    
}




/* button banner */
#bottom-banner{
    background-color: #101010;
    padding: 6em;
    margin-bottom: 4em;
    text-align: center;
}

#bottom-banner .offer-subtitle,
#bottom-banner h2
{
    text-transform: uppercase;
    font-weight: bold;

}

#bottom-banner .btn{
    margin: 2em;
    font-weight: bold;
    padding: 1em;
}

#bottom-banner img{
    max-width: 175px;
}


@media(min-width: 768px){
    #bottom-banner h2{
        font-size: 6em;
    }
}